.carrossel {
  margin: 35px auto;
  transition: var(--transition);

  & > div {
    margin: 0 auto;
    max-width: 2560px;
    background-color: var(--bg-section);
    border-top: var(--border);
    border-bottom: var(--border);
    transition: background-color var(--transition);

    & > div > div {
      padding: 50px 0 40px;
    }
  }
}
