.cards {
  & > div {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0 120px;

    @media screen and (max-width: 1400px) {
      padding: var(--padding);
      padding-top: 80px;
      padding-bottom: 120px;
    }

    h2 {
      font-size: 32px;
      line-height: 42px;
      transition: var(--transition);

      @media screen and (max-width: 768px) {
        line-height: normal;
        font-size: 28px;
      }
      @media screen and (max-width: 480px) {
        font-size: 24px;
      }

      span {
        color: var(--primary);
      }
    }

    & > div {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      margin-top: 100px;

      @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }

      & > div {
        display: flex;
        flex-direction: column;
        padding: 20px;
        height: 380px;
        text-align: left;
        background-color: var(--bg-section);
        border: var(--border);
        border-radius: 2px;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 10px;
        position: relative;
        z-index: 2;
        transition: background-color var(--transition);

        @media screen and (max-width: 1024px) {
          height: auto;
        }

        svg {
          min-width: 50px;
          min-height: 50px;
          fill: var(--p-color);
        }

        h3 {
          color: var(--p-color);
          transition: var(--transition);
          font-size: var(--p-medium);
        }

        p {
          font-size: var(--p-small);
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          inset: 0px;
          display: block;
          z-index: -1;
          transition: transform 0.4s ease-in-out 0s;
        }

        &::before {
          border-left: 2px solid var(--primary);
          border-right: 2px solid var(--primary);
          transform: scaleY(0);
        }

        &::after {
          border-top: 2px solid var(--primary);
          border-bottom: 2px solid var(--primary);
          transform: scaleX(0);
        }

        &:hover {
          &::before {
            transform: scaleY(1);
          }
          &::after {
            transform: scaleX(1);
          }

          h3 {
            color: var(--primary);
          }
        }
      }
    }
  }
}
