.social {
  ul {
    display: flex;
    gap: 20px;

    li {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;

      &:not(:last-child)::after {
        content: "";
        display: block;
        height: 2px;
        width: 2px;
        background-color: var(--primary);
        position: absolute;
        right: -12px;
        top: 10px;

        @media screen and (max-width: 768px) {
          top: 15px;
        }
      }

      a {
        color: var(--p-color);
        transition: opacity var(--transition);

        &:hover {
          opacity: 0.6;
        }

        svg {
          display: none;
        }

        @media screen and (max-width: 768px) {
          font-size: 0px;

          svg {
            width: 20px;
            display: block;
            fill: var(--p-color);
          }
        }
      }
    }
  }
}
