@tailwind base;
@tailwind components;
@tailwind utilities;

:root.dark {
  --bg-color: #161616;
  --bg-section: #161616;
  --p-color: #bfbfbf;
  --header: #161616d0;
  /* --primary: rgb(90, 87, 255); */
  --primary: #5773ff;
  /* --primary: #41C766; */
  --p-small: 14px;
  --p-medium: 16px;
  --border: 1px solid #242424;
  --transition: 0.3s ease-in-out 0s;
  --light: 300;
  --regular: 400;
  --logo: #fff;
  --margin: 0 5%;
  --padding: 0 5%;
}

:root.light {
  --bg-color: #eee;
  --bg-section: #eee;
  --p-color: #727272;
  /* --primary: #f2652a; */
  --primary: #f22a5c;
  --header: #eeeeeed0;
  --p-small: 14px;
  --p-medium: 16px;
  --border: 1px solid #ddd;
  --transition: 0.3s ease-in-out 0s;
  --light: 300;
  --regular: 400;
  --logo: #727272;
  --margin: 0 5%;
  --padding: 0 5%;
}

/* a {
  transition: var(--transition) !important;
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--bg-color);
  color: var(--p-color);
  font-weight: 400;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: background-color var(--transition);
}

::-moz-selection {
  color: #fff;
  background: var(--primary);
}

::selection {
  color: #fff;
  background: var(--primary);
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

main {
  margin: 60px auto 20px;
  background-image: url(../../public/bgDots.svg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadeIn 1s;
  position: relative;
}

main::before {
  pointer-events: none;
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(../../public/bgDots.svg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: invert(1);
  -webkit-filter: invert(1);
}

.slick-slide div {
  border: none !important;
  outline: none !important;
}

.slick-track img {
  filter: saturate(0);
  display: flex !important;
  margin: 0 auto;
  border: none !important;
  outline: none !important;
}

#header.sticky {
  height: 65px;
  background-color: var(--header);
  transition: var(--transition);
}