.header {
  position: fixed;
  background-color: var(--bg-color);
  top: 0;
  z-index: 3;
  width: 100%;
  height: 75px;
  transition: var(--transition);

  & > div {
    margin: 0 auto;
    display: flex;
    height: inherit;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    font-size: var(--p-small);
    border-bottom: var(--border);
    & > a {
      color: var(--primary);
      display: flex;
      align-items: center;
      height: inherit;
    }
  }
}
