.footer {
  background-color: var(--bg-color);
  transition: background-color var(--transition);

  & > div {
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    font-size: var(--p-small);
    border-top: var(--border);
    gap: 20px;
    margin: 0 auto;

    @media (max-width: 1400px) {
      margin: var(--margin);
    }
  }
}
